# Docker image
# Build a Docker image to deploy, run, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker
# 

# specific branch build
trigger:
- master

pool:
  vmImage: 'Ubuntu 16.04'

variables:
- group: DockerHub

steps:
- script: docker login -u $(dockerId) -p $(dockerPassword)
  displayName: 'docker login'
  
- script: docker build -t $(dockerhubkthse)/$(imageName) .
  displayName: 'docker build'

- script: docker push $(dockerhubkthse)/$(imageName)
  displayName: 'Docker Push'

#Push to docker hub with buildid tag
- script: docker push $(dockerhubkthse)/$(imageName)
  displayName: 'KTHse: Push Docker image to KTHse DockerHub'
  
#Tag with latest tag
- script: docker image tag $(dockerhubkthse)/$(imageName) $(dockerhubkthse)/$(imageNameLatest)
  displayName: 'KTHse: tag image for push to KTHse Dockerhub'

#Push to docker hub with latest tag
- script: docker push $(dockerhubkthse)/$(imageNameLatest)
  displayName: 'KTHse: Push Docker image to KTHse Dockerhub'
  
#To ACR
#Login to ACR
- script: docker login $(acrhostname) -u $(acrLogin)  -p $(acrPassword)
  displayName: 'docker login KTH.SE ACRegistry'

#Tag image for ACR
- script: docker image tag $(dockerhubkthse)/$(imageName) $(acrhostname)/$(imageName)
  displayName: 'Tag image for push to KTH.SE ACRegistry'

#Create Latest Tag
- script: docker image tag $(dockerhubkthse)/$(imageName) $(acrhostname)/$(imageNameLatest)
  displayName: 'Tag image as latest tag for push to KTH.SE ACRegistry'

#Push images to ACR
- script: docker push $(acrhostname)/$(imageName)
  displayName: 'Push image to KTH.SE ACRegistry'

- script: docker push $(acrhostname)/$(imageNameLatest)
  displayName: 'Push latest tag to KTH.SE ACRegistry'
